:root {
  font-family: poppins-regular, sans-serif;
  color-scheme: light;
  color: #121215;
  background-color: #EEEEEE;
  font-weight: 600;
}

body {
  margin: 0;
  margin-top: 6em;
}

#app {
  text-align: center;
}

@font-face {
  font-family: 'poppins-regular';
  src: url('../src/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'poppins-bold';
  src: url('../src/fonts/Poppins-Bold.ttf');
}