:root {
  font-family: poppins-regular, sans-serif;
  color-scheme: light;
  color: #121215;
  background-color: #EEEEEE;
  font-weight: 600;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  margin-top: 6em;
}

#app {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #b3b3b3;
}

::-webkit-scrollbar-thumb {
  background: #363636;
}

::-webkit-scrollbar-thumb:hover {
  background: #252525;
}

@font-face {
  font-family: 'poppins-regular';
  src: url('../src/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'poppins-bold';
  src: url('../src/fonts/Poppins-Bold.ttf');
}